<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Diablo Carl">
    <meta name="keyword" content="Pizaria, pedido de pizza, lanche da noite, melhor da cidade">
    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Pizza Form</title>
    <link rel="stylesheet" href="../../assets/css/header_style.css">
    <link rel="stylesheet" href="../../assets/css/home_style.css">
    <link rel="stylesheet" href="../../assets/css/baseboard_style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>PizzaForm</h1>
        </div>
        <div class="navbar">
            <a href="home.html">Home</a>
            <!-- <a href="promotions.">Promotions</a> -->
            <a href="menu.html">Menu</a>
            <!-- <a href="about.html">About</a> -->
            <a href="order.html">Order</a>
        </div>
    </header>
    <main>
        <section id="destaque_texto">
            <h1> Destaques da semana
            </h1>
        </section>
        <section class="destaques">
            <div>
                <h2> Pizza Mexicana</h2>
                <img src="../../assets/img/pizza_mexicana_1.jpg" class="img">
            </div>
            <div>
                <h2> Pizza Mexicana Picante</h2>
                <img src="../../assets/img/pizza_mexicana_picante_1.jpg" class="img">
            </div>
        </section>
    </main>
    <footer class="footer">
        <div>
            <ul>
                <li class="icon">
                    <a href="">
                        <img src="../../assets/img_icons/facebook.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/instagram.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/gmail.png" alt="" height="100%" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/github.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/linkedin.png" height="100%" alt="" class="img_icon">
                    </a>
                </li>
            </ul>
        </div>
        <h2>
            Temos a melhor Pizza da região!
        </h2>
    </footer>
</body>

</html>