<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Diablo Carl">
    <meta name="keywords" content="pizza, pedidos, lache, noite, drive-tru">
    <meta name="description" content="Pizza's de maior sabor e qualidade">
    <meta http-equiv="refresh" content="90">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Pizzaria</title>
    <link rel="stylesheet" href="../../assets/css/header_style.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/baseboard_style.css">

</head>

<body>
    <header>
        <div class="logo">
            <h1>PizzaForm</h1>
        </div>
        <div class="navbar">
            <a href="home.html">Home</a>
            <!-- <a href="promotions.">Promotions</a> -->
            <a href="menu.html">Menu</a>
            <!-- <a href="about.html">About</a> -->
            <a href="order.html">Order</a>
        </div>
    </header>
    <main>
        <section class="menu_titule">
            <h2>PizzaForm - Menu</h2>
        </section>
        <section class="menu">
            <div class="options">
                <img src="../../assets/img/pizza_calabresa.jpg">
                <h2> Pizza de Calabresa</h2>
                <div class="text">
                    <p>
                        Queijo, calabresa, cebola e oregano.
                    </p>
                </div>
            </div>
            <div class="options">
                <img src="../../assets/img/pizza_quatro_queijos.jpg">
                <h2 class="titule">Pizza de Quatro Queijos</h2>
                <div class="text">
                    <p>
                        Queijo, calabresa, cebola e oregano.
                    </p>
                </div>
            </div>
            <div class="options">
                <img src="../../assets/img/pizza_queijo.jpg">
                <h2> Pizza de Queijo</h2>
                <div class="text">
                    <p>
                        Queijo, calabresa, cebola e oregano.
                    </p>
                </div>
            </div>
            <div class="options">
                <img src="../../assets/img/pizza_mexicana_1.jpg">
                <h2> Pizza Mexicana</h2>
                <div class="text">
                    <p>
                        Queijo, calabresa, cebola e oregano.
                    </p>
                </div>
            </div>
            <div class="options">
                <img src="../../assets/img/pizza_mexicana_picante_1.jpg">
                <h2> Pizza Mexicana Picante</h2>
                <div class="text">
                    <p>
                        Queijo, calabresa, cebola e oregano.
                    </p>
                </div>
            </div>
            <div class="options">
                <img src="../../assets/img/pizza_portuguesa.jpg">
                <h2> Pizza Portuguesa</h2>
                <div class="text">
                    <p>
                        Queijo, calabresa, cebola e oregano.
                    </p>
                </div>
            </div>
        </section>
        <section class="days">
            <a href="">Domingo</a>
            <a href="">Segunda</a>
            <a href="">Terça</a>
            <a href="">Quarta</a>
            <a href="">Quinta</a>
        </section>
    </main>
    <footer class="footer">
        <div>
            <ul>
                <li class="icon">
                    <a href="">
                        <img src="../../assets/img_icons/facebook.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/instagram.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/gmail.png" alt="" height="100%" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/github.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/linkedin.png" height="100%" alt="" class="img_icon">
                    </a>
                </li>
            </ul>
        </div>
        <h2>
            Temos a melhor Pizza da região!
        </h2>
    </footer>
</body>

</html>