<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../css/request.css"> -->
    <link rel="stylesheet" href="../../assets/css/header_style.css">
    <link rel="stylesheet" href="../../assets/css/order_style.css">
    <link rel="stylesheet" href="../../assets/css/baseboard_style.css">
    <title>Order</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>PizzaForm</h1>
        </div>
        <div class="navbar">
            <a href="home.html">Home</a>
            <!-- <a href="promotions.">Promotions</a> -->
            <a href="menu.html">Menu</a>
            <!-- <a href="about.html">About</a> -->
            <a href="order.html">Order</a>
        </div>
    </header>
    <main>
        <div class="form">
            <form>
                <div class="label_option">
                    <label for=""> Sabores</label> <br>
                </div>
                <input type="radio" id="input_cheese" name="sabores" value="Cheese Pizza">
                <label for="input_cheese">Cheese</label> <br>
                <input type="radio" id="input_mexican" name="sabores" value="Mexican pizza">
                <label for="input_mexican">Mexican</label> <br>
                <input type="radio" id="input_pepperoni" name="sabores" value="Pepperoni Pizza">
                <label for="input_pepperoni">Pepperoni</label> <br>
                <input type="radio" id="input_cheese" name="sabores" value="Portuguese Pizza">
                <label for="input_cheese">Portuguese</label> <br>
                <div class="label_option">
                    <label for="">Opções de pagamento</label> <br>
                </div>
                <input type="checkbox" id="input_card" value="Card">
                <label for="input_card">Card</label> <br>
                <input type="checkbox" id="input_money" value="Money">
                <label for="input_money">Money</label> <br>
                <input type="checkbox" id="input_pix" value="Pix">
                <label for="input_pix">Pix</label> <br>
                <div>
                    <input type="submit" value="Submit" id="submit">
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div>
            <ul>
                <li class="icon">
                    <a href="">
                        <img src="../../assets/img_icons/facebook.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/instagram.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/gmail.png" alt="" height="100%" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/github.png" height="100%" alt="" class="img_icon">
                    </a>
                    <a href="">
                        <img src="../../assets/img_icons/linkedin.png" height="100%" alt="" class="img_icon">
                    </a>
                </li>
            </ul>
        </div>
        <h2>
            Temos a melhor Pizza da região!
        </h2>
    </footer>
</body>

</html>